<h1>New Comment</h1>
<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  <p>
    <p class = "title1">Your Comment for Review:</p>
    <%= form.text_field :review_id %>
    <p class = "title1">Write here:</p>
    <%= form.text_field :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
