<h1>HoagieShop - Your Hoagie To Go</h1>
<div class="container">
  <div class="item">
    <p class="title">Delicious</p>
  </div>
  <div class="item">
    <p class="title">Fast</p>
  </div>
  <div class="item">
    <p class="title">Home Made</p>
  </div>
</div>
<%=button_to 'First view your Base Options', bases_path, :method => :get %>
<%=button_to 'Order your Hoagie now!', new_hoagy_path, :method => :get %>
<%=button_to 'View your current Order', orders_path, :method => :get %>
<%=button_to 'Customers Opinions', reviews_path, :method => :get %>
