// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  background-color:rgba(255, 248, 220, 0.4);
}
